$color-primary: #55c57a;
$color-dark-green: #28b485;
$color-light-green: #7ed56f;
//Colours
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7738;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #3643fa;

$color-dark-grey: #777;
$color-dark-grey-2: #999;
$color-dark-grey-3: #333;
$color-black: rgb(0, 0, 0);
$color-white: #fff;
$color-light-grey-1: #f7f7f7;

$color-light-grey-2: #eee;
$color-light-grey-3: rgb(192, 192, 192);

//Grid
$cell-color: none;
$grid-width: 114rem;
$cell-gap: 6rem;
$row-gap-small: 6rem;
$row-gap: 8rem;

//Fonts
$default-font-size: 1.6rem;

//Shadows
$default-shadow: 0 1rem 2rem rgba($color-black, 0.2);
$large-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
$small-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
//border radius
$round-corner: 3px;
