/*
0-600px:        phone
600-900px:      tablet portrait
900-1200px:     tablet landscape
1200-1800px:    Where our normal styles apply (Desktop first approach)
1800px+:        Big desktop  

$breakpoint argument choices
- phone
- tab-port
- tab-land
- big-desktop
1em=16px
*/
body {
  font-family: Lato, sans-serif;
  line-height: 1.7;
  font-weight: 400;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem;
}
.heading-primary--main {
  display: block;
  letter-spacing: 3.5rem;
  font-size: 6rem;
  font-weight: 400;
  -webkit-animation: slide-left 1s ease-out;
          animation: slide-left 1s ease-out;
}
@-webkit-keyframes slide-left {
  0% {
    opacity: 0;
    transform: translatex(-30rem);
  }
  80% {
    transform: translatex(2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translatex(-30rem);
  }
  80% {
    transform: translatex(2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@media (max-width: 37.5em) {
  .heading-primary--main {
    letter-spacing: 1rem;
    font-size: 5rem;
  }
}
.heading-primary--sub {
  display: block;
  letter-spacing: 1.75rem;
  font-size: 2rem;
  font-weight: 700;
  -webkit-animation: slide-right 1s ease-out;
          animation: slide-right 1s ease-out;
}
@-webkit-keyframes slide-right {
  0% {
    opacity: 0;
    transform: translatex(30rem);
  }
  80% {
    transform: translatex(-2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translatex(30rem);
  }
  80% {
    transform: translatex(-2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@media (max-width: 37.5em) {
  .heading-primary--sub {
    letter-spacing: 0.5rem;
  }
}

.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  transition: transform 0.4s;
}
@media (max-width: 56.25em) {
  .heading-secondary {
    font-size: 3rem;
  }
}
@media (max-width: 37.5em) {
  .heading-secondary {
    font-size: 2.5rem;
  }
}
.heading-secondary:hover {
  transform: skewX(2deg) skewY(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
@media (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
@media (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-small {
  margin-bottom: 2rem !important;
}
@media (max-width: 56.25em) {
  .u-margin-bottom-small {
    margin-bottom: 1rem !important;
  }
}

.u-margin-top-big {
  margin-top: 8rem !important;
}
@media (max-width: 56.25em) {
  .u-margin-top-big {
    margin-top: 5rem !important;
  }
}

.u-margin-top-small {
  margin-top: 2rem !important;
}
@media (max-width: 56.25em) {
  .u-margin-top-small {
    margin-top: 1rem !important;
  }
}

.u-margin-top-medium {
  margin-top: 5rem !important;
}
@media (max-width: 56.25em) {
  .u-margin-top-medium {
    margin-top: 3rem !important;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
}
@media (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
  opacity: 0.2;
}
.bg-video__content {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn, .btn:link, .btn:visited {
  position: relative;
  display: inline-block;
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  border-radius: 10rem;
  text-transform: uppercase;
  text-decoration: none;
  transition-property: box-shadow 100ms;
  border: none;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.3) scaleY(1.6);
  opacity: 0;
}
.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn::after {
  content: "";
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 0.5rem 2rem;
  border-radius: 100px;
  text-transform: uppercase;
  margin-top: 10%;
  text-decoration: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: transform 500ms, opacity 500ms;
}
.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--white::after {
  background-color: #fff;
}
.btn--animated {
  -webkit-animation: slide-bottom 1s ease-out 1s;
          animation: slide-bottom 1s ease-out 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
@-webkit-keyframes slide-bottom {
  0% {
    opacity: 0;
    transform: translatey(30rem);
  }
  80% {
    transform: translatey(0rem);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes slide-bottom {
  0% {
    opacity: 0;
    transform: translatey(30rem);
  }
  80% {
    transform: translatey(0rem);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  text-decoration: none;
  display: inline-block;
  color: #55c57a;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
}
.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  transform: translateY(-3px);
}
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(-1px);
}
.btn--green {
  background-color: #55c57a;
  color: #fff;
}
.btn--green::after {
  background-color: #55c57a;
}

.card {
  perspective: 150rem;
  --moz--perspective: 150rem;
  position: relative;
  height: 50rem;
}
.card__side {
  font-size: 2rem;
  height: 50rem;
  transition: transform 1s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.card__side--front {
  background-color: white;
  color: rgb(7, 7, 7);
}
.card__side--back {
  transform: rotateY(180deg);
}
.card__side--back--1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7738);
  color: white;
}
.card__side--back--2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  color: white;
}
.card__side--back--3 {
  background-image: linear-gradient(to right bottom, #2998ff, #3643fa);
  color: white;
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0deg);
}
.card__picture {
  height: 23rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  background-size: cover;
  background-blend-mode: screen;
}
.card__picture--1 {
  background-image: linear-gradient(to bottom right, #ffb900, #ff7738), url("../img/nat-5.jpg");
}
.card__picture--2 {
  background-image: linear-gradient(to bottom right, #7ed56f, #28b485), url("../img/nat-6.jpg");
}
.card__picture--3 {
  background-image: linear-gradient(to bottom right, #2998ff, #3643fa), url("../img/nat-7.jpg");
}
.card__heading {
  text-transform: uppercase;
  text-align: right;
  font-size: 1.4rem;
  font-weight: 400;
  position: absolute;
  top: 20%;
  right: 5%;
  width: 75%;
}
.card__heading-span {
  padding: 0.6rem 1rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card__heading-span--1 {
  background-image: linear-gradient(to bottom right, rgba(255, 185, 0, 0.85), rgba(255, 119, 56, 0.85));
  color: #fff;
}
.card__heading-span--2 {
  background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
  color: #fff;
}
.card__heading-span--3 {
  background-image: linear-gradient(to bottom right, rgba(41, 152, 255, 0.85), rgba(54, 67, 250, 0.85));
  color: #fff;
}
.card__details {
  padding: 1.5rem;
}
.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
  color: #777;
}
.card__details ul li {
  padding: 0.4rem;
  font-size: 1.6rem;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.card__cta {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card__price--only {
  text-transform: uppercase;
}
.card__price--value {
  font-size: 4rem;
  font-weight: 200;
}
@media (max-width: 56.25em) {
  .card {
    height: auto;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    background-color: #fff;
  }
  .card__side {
    height: auto;
    position: relative;
    width: 100%;
    box-shadow: none;
  }
  .card__side--back {
    transform: rotateY(0deg);
    --webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  }
  .card:hover .card__side--front {
    transform: rotateY(0deg);
  }
  .card__cta {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0);
    padding: 4rem;
  }
}

.composition {
  position: relative;
}
.composition__photo {
  width: 55%;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  position: absolute;
  outline-offset: 2rem;
  transition: all 0.2s;
}
@media (max-width: 56.25em) {
  .composition__photo {
    float: left;
    width: 33.33333%;
    position: relative;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }
}
.composition__photo--p1 {
  top: -2rem;
  left: 0;
}
@media (max-width: 56.25em) {
  .composition__photo--p1 {
    top: 0;
    transform: scale(1.2);
  }
}
.composition__photo--p2 {
  top: 2rem;
  right: 0;
}
@media (max-width: 56.25em) {
  .composition__photo--p2 {
    top: -1rem;
    transform: scale(1.3);
    z-index: 1;
  }
}
.composition__photo--p3 {
  top: 10rem;
  left: 20%;
}
@media (max-width: 56.25em) {
  .composition__photo--p3 {
    top: 1rem;
    left: 0;
    transform: scale(1.2);
  }
}
.composition__photo:hover {
  transform: scale(1.05) translate(-0.5rem);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  outline: solid 7px #55c57a;
  z-index: 2;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

.feature-box {
  color: #777;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  border-radius: 3px;
  padding: 2.5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}
@media (max-width: 56.25em) {
  .feature-box {
    padding: 2rem;
  }
}
.feature-box__icon {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 6rem;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
@media (max-width: 56.25em) {
  .feature-box__icon {
    margin-bottom: 0rem;
  }
}
.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.03);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}

.form__group:not(:last-child) {
  margin-bottom: 0.2rem;
}
.form__input {
  width: 90%;
  display: block;
  font-size: 1.4rem;
  font-family: inherit;
  color: inherit;
  padding: 0.4rem 0.8rem;
  border-radius: 2px;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
}
@media (max-width: 56.25em) {
  .form__input {
    width: 100%;
  }
}
.form__input:focus {
  outline: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid #55c57a;
}
.form__input:focus:invalid {
  border-bottom: 2px solid #ff7738;
}
.form__input::-webkit-input-placeholder {
  color: #999;
}
.form__label {
  color: #999;
  font-size: 0.8rem;
  font-weight: 700;
  margin-left: 0.8rem;
  margin-top: 0.3rem;
  display: block;
  transition: all 0.3s;
}
.form__input:-moz-placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-2rem);
}
.form__input:-ms-input-placeholder + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-2rem);
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-2rem);
}
.form__radio-group {
  width: 49%;
  display: inline-block;
}
@media (max-width: 56.25em) {
  .form__radio-group {
    width: 100%;
    margin-bottom: 1rem;
  }
}
.form__radio-input {
  display: none;
}
.form__radio-label {
  font-size: 1.6rem;
  color: #999;
  cursor: pointer;
  font-family: inherit;
  position: relative;
  padding-left: 2rem;
}
.form__radio-button {
  height: 1.5rem;
  width: 1.5rem;
  border: 3px solid #55c57a;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
.form__radio-button::after {
  content: "";
  display: block;
  height: 0.55rem;
  width: 0.55rem;
  border-radius: 50%;
  background-color: #55c57a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s;
}
.form__radio-input:checked ~ .form__radio-label > .form__radio-button::after {
  opacity: 1;
}

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 4;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.popup__content {
  color: #777;
  width: 75%;
  background-color: #fff;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: table;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.25);
  transition: all 0.4s 0.2s;
}
.popup__left {
  width: 33.3333%;
  display: table-cell;
}
@media (max-width: 37.5em) {
  .popup__left {
    width: 100%;
    display: block;
  }
}
.popup__right {
  width: 66.6666%;
  display: table-cell;
  overflow: hidden;
  vertical-align: middle;
  padding: 1.5rem 2.5rem;
}
@media (max-width: 37.5em) {
  .popup__right {
    width: 100%;
    display: block;
    padding: 1rem 2rem;
  }
}
.popup__img {
  display: block;
  width: 100%;
}
@media (max-width: 37.5em) {
  .popup__img {
    width: 50%;
    float: left;
  }
}
.popup__text {
  font-size: 1rem;
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
  -moz-column-rule: 1px solid #eee;
       column-rule: 1px solid #eee;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.popup__close:link, .popup__close:visited {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #999;
  display: inline-block;
  font-size: 2rem;
  line-height: 1;
  text-decoration: none;
  cursor: default;
  transition: all 0.2s;
}
.popup__close:hover {
  color: #55c57a;
}

.story {
  padding: 6rem 6rem 6rem 9rem;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
  width: 75%;
  border-radius: 3px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: skewX(-12deg);
}
@media (max-width: 56.25em) {
  .story {
    width: 100%;
    padding: 4rem 4rem 4rem 7rem;
  }
}
@media (max-width: 37.5em) {
  .story {
    transform: skewX(0deg);
  }
}
.story__image {
  height: 100%;
  transform: translateX(-4rem) scale(1.4);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: transform 0.5s;
}
.story__shape {
  position: relative;
  width: 15rem;
  height: 15rem;
  float: left;
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  transform: translateX(-3rem) skewX(12deg);
}
@media (max-width: 37.5em) {
  .story__shape {
    transform: translateX(-3rem) skewX(0deg);
  }
}
.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  line-height: 1.8rem;
  opacity: 0;
  transition: all 0.5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.story:hover .story__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.story:hover .story__image {
  transform: translateX(-2rem) scale(1);
  filter: blur(0.1rem) brightness(70%);
}
.story__text {
  transform: skewX(12deg);
}
@media (max-width: 37.5em) {
  .story__text {
    transform: skewX(0deg);
  }
}

.header {
  height: 95vh;
  position: relative;
  background-image: linear-gradient(to bottom right, rgba(40, 180, 133, 0.6), rgba(126, 213, 111, 0.6)), url("../img/hero-small.jpg");
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}
@media (max-width: 37.5em) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }
}
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__logo-box:hover .header__logo {
  -webkit-animation: slide-bottom 1s ease-out;
          animation: slide-bottom 1s ease-out;
}
@keyframes slide-bottom {
  0% {
    opacity: 0;
    transform: translatey(3rem);
  }
  80% {
    transform: translatey(0rem);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.header__logo {
  height: 3.5rem;
}
.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 45%;
  text-align: center;
}

.footer {
  background-color: #333;
  color: #f7f7f7;
  padding: 10rem 0rem;
  font-size: 1.4rem;
}
@media (max-width: 56.25em) {
  .footer {
    padding: 8rem 0;
  }
}
.footer__logo {
  width: 15rem;
  height: auto;
}
.footer__navigation {
  border-top: #999 1px solid;
  padding-top: 2rem;
  display: inline-block;
}
@media (max-width: 56.25em) {
  .footer__navigation {
    width: 100%;
    text-align: center;
  }
}
.footer__list {
  list-style: none;
}
.footer__item {
  display: inline-block;
}
.footer__item:not(:last-child) {
  margin-right: 1.5rem;
}
.footer__link:link, .footer__link:visited {
  color: rgb(192, 192, 192);
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: transform 0.2s;
  background-color: #333;
}
.footer__link:hover, .footer__link:focus-visible {
  color: #55c57a;
  transform: skewX(8deg) skewY(5deg) scale(1.3);
  text-shadow: 1rem 1rem 0.8rem rgba(0, 0, 0, 0.5);
}
.footer__copyright {
  border-top: #999 1px solid;
  padding-top: 2rem;
  width: 90%;
  float: right;
}
@media (max-width: 56.25em) {
  .footer__copyright {
    width: 100%;
    text-align: center;
    float: none;
  }
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
@media (max-width: 56.25em) {
  .row:not(:last-child) {
    margin-bottom: 6rem;
  }
}
@media (max-width: 56.25em) {
  .row {
    max-width: 50rem;
    padding: 3rem;
  }
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  background-color: none;
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
@media (max-width: 56.25em) {
  .row [class^=col-]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6rem;
  }
}
@media (max-width: 56.25em) {
  .row [class^=col-] {
    width: 100% !important;
  }
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * (6rem)) / 3);
}
.row .col-2-of-3 {
  width: calc(((100% - 2 * (6rem)) / 3) * 2 + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * (6rem)) / 4);
}
.row .col-2-of-4 {
  width: calc(((100% - 3 * (6rem)) / 4) * 2 + 6rem);
}
.row .col-3-of-4 {
  width: calc((100% - 3 * (6rem)) / 4 * 3 + 2 * (6rem));
}

.navigation__checkbox {
  display: none;
}
.navigation__icon {
  stroke: #777;
}
.navigation__icon--line1 {
  transform-origin: 24px 14px;
  transform: rotate(0deg);
  transition: transform 0.5s;
}
.navigation__icon--line3 {
  transform-origin: 24px 21px;
  transform: rotate(0deg);
  transition: transform 0.5s;
}
.navigation__button {
  background-color: #fff;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 3;
  cursor: pointer;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
}
@media (max-width: 56.25em) {
  .navigation__button {
    top: 4rem;
    right: 4rem;
  }
}
@media (max-width: 37.5em) {
  .navigation__button {
    top: 3rem;
    right: 3rem;
  }
}
.navigation__background {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 1;
  transition: transform 0.8s cubic-bezier(0.73, -0.01, 1, 0.57);
}
@media (max-width: 56.25em) {
  .navigation__background {
    top: 4.5rem;
    right: 4.5rem;
  }
}
@media (max-width: 37.5em) {
  .navigation__background {
    top: 3.5rem;
    right: 3.5rem;
  }
}
.navigation__nav {
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 2;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.76, -0.32, 0.43, 1.3);
}
.navigation__list {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.navigation__item {
  margin: 0.5rem;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  padding: 0.5rem 0.8rem;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 300%;
  background-position: 0 0;
  transition: all 0.4s;
}
.navigation__link:link span, .navigation__link:visited span {
  margin-right: 0.7rem;
  display: inline-block;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(0.6rem);
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}
.navigation__checkbox:checked ~ .navigation__button > .navigation__icon > .navigation__icon--line1 {
  transform-origin: 24px 14px;
  transform: rotate(-45deg);
}
.navigation__checkbox:checked ~ .navigation__button > .navigation__icon > .navigation__icon--line3 {
  transform-origin: 24px 21px;
  transform: rotate(45deg);
}
.navigation__checkbox:checked ~ .navigation__button > .navigation__icon > .navigation__icon--line2 {
  opacity: 0;
}

.section-about {
  background-color: #f7f7f7;
  color: #777;
  padding: 25rem 0;
  margin-top: -20vh;
}
@media (max-width: 56.25em) {
  .section-about {
    padding: 20rem 0;
  }
}

.section-features {
  padding: 20rem 0;
  margin-top: -10rem;
  background-image: linear-gradient(to bottom right, rgba(40, 180, 133, 0.6), rgba(126, 213, 111, 0.6)), url("../img/nat-4.jpg");
  background-size: cover;
  background-position: top;
  transform: skewY(-7deg);
}
@media (max-width: 56.25em) {
  .section-features {
    padding: 10rem 0;
  }
}
.section-features > * {
  transform: skewY(7deg);
}

.section-tours {
  margin-top: -10rem;
  padding: 25rem 0 15rem 0;
  background-color: #f7f7f7;
  color: #777;
}
@media (max-width: 56.25em) {
  .section-tours {
    padding: 20rem 0 10rem 0;
  }
}

.section-stories {
  position: relative;
  padding: 15rem 0rem;
  color: #777;
}
@media (max-width: 56.25em) {
  .section-stories {
    padding: 10rem 0;
  }
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
@media (max-width: 56.25em) {
  .section-book {
    padding: 10rem 0;
  }
}

.book {
  background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url("../img/nat-10.jpg");
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}
@media (max-width: 75em) {
  .book {
    background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.9) 60%, transparent 60%), url("../img/nat-10.jpg");
  }
}
@media (max-width: 56.25em) {
  .book {
    background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.9) 60%, rgba(255, 255, 255, 0.9) 100%), url("../img/nat-10.jpg");
  }
}
.book__form {
  width: 50%;
  padding: 6rem;
}
@media (max-width: 75em) {
  .book__form {
    width: 60%;
  }
}
@media (max-width: 56.25em) {
  .book__form {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */